# Dependencies - Ignore globally and in subfolders
node_modules/
client/node_modules/
server/node_modules/
.pnp
.pnp.js

# Production / Builds
dist/
client/dist/
build/
.vercel

# Environment Variables (Keep these private!)
**/.env*
!.env.example
!server/.env.example

# Prisma / Database
server/dev.db
server/dev.db-journal
/server/prisma/migrations/

# Testing and Logs
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
*.pem