DATABASE_URL="postgresql://username:password@localhost:5432/palmastro"
JWT_SECRET="your-jwt-secret-key"
ADMIN_EMAIL="admin@example.com"
GOOGLE_CLIENT_ID=618221649513-tgn4n51s78rukl4utok7a1p7nbm7tvq4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
AWS_ACCESS_KEY="your-aws-access-key"
AWS_SECRET_KEY="your-aws-secret-key"
S3_BUCKET="your-s3-bucket-name"
RAZORPAY_KEY_ID=rzp_test_SicJGyabCf4lzw
RAZORPAY_SECRET=3pMxyScwaWNHxzk4OPi2iiAg
EMAIL="your-gmail-address"
EMAIL_PASSWORD="your-gmail-app-password"
